* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #444444;
    /*the following is a local font of Lexend*/
    font-family: "myFavouriteFont";
    src: url("D:\backup\Users\Louis\Downloads\LexendDecaRegular.ttf");
}

body {
    margin: 5px 5px 5px 5px;
    text-align: center;
}

.descr {
    margin: 5px 5px 25px 25px;
}

h1 {
    font-family: 'Times New Roman', Times, serifs;
}

.badge-pill,
a:link {
    color: #eeeeee;
}

.badge-pill,
a:hover {
    font-weight: bolder;
}

.badge-pill,
a:visited {
    color: #9b9bf3;
}

.badge-pill,
a:active {
    text-decoration: none;
}